:root {
    --roxo: rgb(80, 70, 170);
    --bege: #f5f5dc;
    --cinza-escuro: #333333;
    --turquesa: #1abc9c;
    --coral: #ff6b6b;
    --fonte-titulo: "Fascinate Inline", system-ui;
    --fonte-texto: "Gowun Batang", serif;
}

body {
    background-color: var(--bege);
    font-family: var(--fonte-texto);
    color: var(--cinza-escuro);
    height: 100vh;
}

header {
    background-color: var(--roxo);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--coral);
    padding: 0.5em 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--bege);
    font-size: 2em;
    margin: 0 1em 0.5em 0;
}

nav a:hover {
    text-decoration: underline;
    color: var(--coral);
    transform: scale(0.9);
    transition: transform 0.2s;
}

.caixa-grafico {
    margin: 5rem;
}

.caixa-grafico__texto {
    font-size: 1.5em;
    background-color: var(--turquesa);
    padding: 1em;
    border-radius: 20px;
    border: var(--cinza-escuro) double 10px;
}

span {
    font-family: var(--fonte-titulo);
    color: var(--roxo);
    font-size: 1.1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--roxo);
    color: var(--bege);
    width: 100%;
    height: 2em;
    margin-top: 2em;
    font-size: 1.5em;
}
